<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>Music in the browser - Presentation by Per-Øivin Andersen</title>

	<meta name="description" content="A presentation about the Web Audio API and the Web MIDI API">
	<meta name="author" content="Per-Øivin Berg Andersen">

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/theme/blood.css" id="theme">

	<!-- Code syntax highlighting -->
	<link rel="stylesheet" href="lib/css/zenburn.css">

	<!-- Printing and PDF exports -->
	<script>
	var link = document.createElement( 'link' );
	link.rel = 'stylesheet';
	link.type = 'text/css';
	link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
	document.getElementsByTagName( 'head' )[0].appendChild( link );
	</script>
	<script type="text/javascript" src="js/syntheria.js"></script>
	<script type="text/javascript">syntheria.synth.init();</script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="trommesequencer/drumsequencer.js"></script>
	<script type="text/javascript" src="js/syntheria-visualizer.js"></script>
	<script>
	window.addEventListener("load", function() {
		var canvas = document.querySelector("#visualizer");
		syntheria.analyze(syntheria.synth.mainGain, canvas);
	})
	</script>
		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
		<style type="text/css">
		#drumstable {
			font-size: 50%;
		}
		#drumstable input[type=checkbox]
		{
			/* Double-sized Checkboxes */
			-ms-transform: scale(2); /* IE */
			-moz-transform: scale(2); /* FF */
			-webkit-transform: scale(2); /* Safari and Chrome */
			-o-transform: scale(2); /* Opera */
			padding: 10px;
		}
		#frontpage h1, h3, p {
			color: #a23 !important;
		}
		#visualizer {
			width: 80%;
			height: 25%;
		}
		</style>
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section id="frontpage" data-background="digital_music.jpg">
					<h1>Music in the browser</h1>
					<h3>Presentation by Per-Øivin Andersen, Computas</h3>
					<p>pan100@bitbucket</p>
				</section>
				<section>
					<section>
						<h2>What is music?</h2>
						<img src="definition-music-google.png">
					</section>
					<section>
						<h2>Notation</h2>
						<a href="jingle_easy.gif"><img src="jingle_easy.gif"></a>
					</section>				
					<section>
						<h2>Properties</h2>
						<ul>
							<li>Rhythm</li>
							<li>Tone</li>
							<li>Dynamics</li>
							<li>Harmony</li>
						</ul>
						<p>suggestions?</p>
					</section>
					<section>
						<h2>Music is old</h2>
						<iframe width="420" height="315" src="https://www.youtube.com/embed/5keuovs2NVM" frameborder="0" allowfullscreen></iframe>
					</section>
					<section>
						<h2>Music is different</h2>
						<iframe width="420" height="315" src="https://www.youtube.com/embed/Y_6O2Rxzc-E" frameborder="0" allowfullscreen></iframe>
					</section>		
				</section>
					<section>
						<h2>Web Audio API</h2>
						<p>
							"The Web Audio API provides a powerful and versatile system for controlling audio on the Web, allowing developers to choose audio sources, add effects to audio, create audio visualizations, apply spatial effects (such as panning)  and much more.""
						</p>
						<img src="web-audio-api-flowchart.png">
						<p><a href="https://webaudioplayground.appspot.com/" target="_blank">Web Audio Playground</a></p>
					</section>
				<section>
					<h2>Drum sequencer</h2>
					<ul>
						<li>Loads sounds via XMLHTTPRequest</li>
						<li>Angular for data binding</li>
					</ul>
				</section>

				<section ng-app="drumboxModule">
					<p>This example shows a simple drum box</p>
					<div ng-controller="DrumboxController">
						<table id="drumstable">
							<tr ng-repeat="soundobj in sounds">
								<td>
									<a ng-click='soundobj.play()' >{{soundobj.name}}</a>
								</td>
								<td ng-repeat="slot in soundobj.slots">
									<input type="checkbox" ng-model="slot.value">
								</td>			
							</tr>
						</table>
						<label>BPM:</label><input type="number" ng-model="bpm"/>
						<button ng-click="startBox()">START LOOP</button><button ng-click="stopBox()">STOP LOOP</button>
					</div>
				</section>
				<section>
					<h2>MIDI and Web Midi API</h2>
					<ul>
						<li>Protocol designed in the 80s to enable musical instruments to talk</li>
						<li>Web MIDI API is for the moment only supported in Chrome</li>
					</ul>
				</section>
				<section>
					<h2>MIDI synth</h2>
					<ul>
						<li>Web Audio API oscillator nodes are created for each tone</li>
						<li>starts them, but they are connected to each their silent GainNode</li>
						<li>on a note on/note off MIDI event, the GainNode is adjusted according to velocity</li>
						<li>I will now load a synth based on simple sine waves</li>
					</ul>
					<p>syntheria.synth.loadSineSynth()</p>
				</section>
				<section>
						<h2>Back to notation - Keynote</h2>
						<img src="grandclef.png">
						<ul>
							<li>But actually in frequency A4=440hz, not C5...</li>
						</ul>
				</section>
				<section>
					<h2>Let's have a look</h2>
					<canvas id="visualizer"></canvas>
					    <pre><code data-trim>
....
midiToFrequency : function(noteNumber, a4Frequency) {
	if (a4Frequency === undefined) a4Frequency = 440;
	//Note 69 is A4 in MIDI
	return a4Frequency * Math.pow(2, (noteNumber-69)/12);
},
							....
					    </code></pre>
				</section>
				<section>
					<h2>Arpeggio</h2>
					<ul>
						<li>Cycles through tones</li>
					</ul>
					<p>syntheria.synth.arpeggiator.active = true</p>
					<p>syntheria.synth.arpeggiator.timeBetween = 100</p>
				</section>
				<section>
					<h1>So what?</h1>
					<ul>
						<li>Example rap for the occation</li>
						<li>Example song for the occation</li>
					</ul>
				</section>
				<section>
					<h2>Bonus slide if time: A human phenomenon?</h2>
					<a href="http://www.wired.com/2009/09/monkeymusic/">Article about monkey music</a>
					<a href="https://www.physicsforums.com/threads/same-note-pitch-male-and-female-voices-whats-different.489411/">Discussion on male and female voices</a>
					<a href="https://ccrma.stanford.edu/~kglee/m220c/formant.html">Formants</a>
				</section>							
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,
				touch: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
				{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
				{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
				{ src: 'plugin/zoom-js/zoom.js', async: true },
				{ src: 'plugin/notes/notes.js', async: true }
				]
			});
			// (function() {
			// 	//ved dokumentlasting - mest for stygg bugfiksing
			// 	setTimeout(function() {
			// 		var back = document.getElementsByClassName("slide-background present");
			// 		back = back[0];
			// 		back.style.display = "block";
			// 					}, 2000)

			// })();
</script>

</body>
</html>
